<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.TvMapper">
    <select id="allTv"  resultType="com.study.bean.Tv">
        select * from tvs
    </select>
    <insert id="add" parameterType="com.study.bean.Tv">
        insert tvs values(#{pno},#{brand},#{price},#{size},#{sell})
    </insert>
    <select id="selectByPno" resultType="com.study.bean.Tv">
        select  * from  tvs where pno=#{pno}
    </select>
    <update id="update" parameterType="com.study.bean.Tv">
        update  tvs set `brand`=#{brand},`price`=#{price},`size`=#{size},`sell`=#{sell} where pno=#{pno}
    </update>
    <delete id="del" >
        delete  from tvs where pno=#{pno}
    </delete>
</mapper>